.skills-section {
  width: 100%;
  background-color: black;
  height: 100%;
  @include flex-center($justify: flex-start, $align: flex-start);
  flex-direction: column;
  padding: 30vh 0 10vh 10vh;
  color: white;
  h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: $grey;
  }
  h2 {
    font-weight: 600;
  }
  .skills-container {
    @include flex-center($justify: space-around);
    width: 90%;
    & > * {
      @include flex-center($justify: center, $align: center);
      flex-direction: column;
      width: 25vw;
      margin: 5vh 0;
    }
    img {
      height: 20vh;
      margin-bottom: 5vh;
    }

    .first,
    .second,
    .third {
      h3 {
        font-size: 2.3vw;
      }
      p {
        text-align: center;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .skills-section {
    height: 100%;
    padding: 20vh 5vw 0 5vw;
    .skills-container {
      flex-direction: column;
      width: 100%;
      & > * {
        width: 100%;
      }
      .first,
      .second,
      .third {
        h3 {
          font-size: 7vw;
        }
      }
    }
  }
}
