.contactSection {
  @include flex-center($align: flex-start);
  background-color: black;
  overflow-y: hidden;
  .contactText {
    flex: 0.8;
    @include flex-center($justify: flex-start, $align: flex-start);
    flex-direction: column;
    height: 100%;
    padding: 0 0 0 5vw;
    h2 {
      font-size: 7vh;
      color: white;
      font-weight: 600;
    }
    p {
      color: $grey;
      font-size: 4vh;
    }
    .sosial-media {
      @include flex-center;
      .whatsapp,
      .instagram,
      .github {
        * {
          text-decoration: none;
          width: 40px;
          height: 40px;
        }
        margin: 0 1vw;
        color: $menus;
        cursor: pointer;
        &:hover {
          color: $blue;
        }
      }
    }
  }
  .contactForm {
    flex: 1;
    color: white;
    height: 100%;
    form {
      @include flex-center($align: flex-start);
      flex-direction: column;
      padding: 0 0 3vh 5vw;
      h2 {
        display: none;
      }
      input,
      textarea {
        width: 70%;
        margin-bottom: 3vh;
        border: none;
        outline: none;
        background-color: $grey-back;
        color: white;
        padding: 2px 2px;
      }
      label {
        font-size: 3vh;
        font-weight: 500;
      }
    }
  }
}

.alert {
  width: 70%;
}

@media screen and (max-width: 992px) {
  .contactSection {
    height: fit-content;
    width: 100%;
    padding-top: 10vh;
    flex-direction: column;
    align-items: center;
    .contactText {
      justify-content: center;
      align-items: center;
      padding: 2vh 0 !important;
      .whatsapp,
      .instagram,
      .github {
        * {
          width: 60px !important;
          height: 60px !important;
        }
      }
      h2 {
        font-size: 6vh !important;
      }
      p {
        display: none;
      }
    }
    .contactForm {
      @include flex-center;
      form {
        width: 80vw;
        padding-left: 0 !important;
      }
      input,
      textarea {
        width: 95% !important;
      }
    }
  }
}
