.sub-skills {
  @include flex-center;
  background-color: black;
  width: fit-content;
  & > * {
    width: 25vw;
    height: 20vh;
    border: 1px grey solid;
    @include flex-center($align: center);
    img {
      width: 5vw;
      filter: grayscale(100%);
    }
    &:hover {
      img {
        filter: grayscale(0%);
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .sub-skills {
    overflow-x: hidden;
    flex-wrap: wrap;
    margin-left: 0px !important;

    & > * {
      width: 50vw;
      height: fit-content;
      padding: 5vh 0;
      img {
        height: 10vh;
        object-fit: cover;
        width: fit-content;
        filter: grayscale(0%);
      }
    }
  }
}
